# Enable the socket and networking security hooks. This allows a
# security module to use these hooks to implement socket and
# networking access controls. Required by SELinux
CONFIG_SECURITY_NETWORK=y

# Enable Security-Enhanced Linux (SELinux) for mandatory access control
CONFIG_SECURITY_SELINUX=y

# Enable Yama support. Yama extends DAC support with additional
# security settings. Currently available is ptrace scope restriction.
CONFIG_SECURITY_YAMA=y

# Landlock is a sandboxing mechanism that enables processes to restrict
# themselves (and their future children) by gradually enforcing tailored
# access control policies.
CONFIG_SECURITY_LANDLOCK=y

# Do not allow disabling SELinux with a boot parameter
# CONFIG_SECURITY_SELINUX_BOOTPARAM is not set

# Disable SELinux development mode
# CONFIG_SECURITY_SELINUX_DEVELOP is not set
