# Disable coredumps on the kernel level. Useful for debugging.
# CONFIG_COREDUMP is not set

# Number of bits to use for ASLR of mmap base address. Used to select
# the number of bits to use to determine the random offset to the base
# address of vma regions resulting from mmap allocations.
CONFIG_ARCH_MMAP_RND_BITS=32
