# Enable IO Memory Management hardware support for Intel and AMD
CONFIG_INTEL_IOMMU=y
CONFIG_AMD_IOMMU=y

# Enable support for Shared Virtual Memory with Intel IOMMU.
CONFIG_INTEL_IOMMU_SVM=y

# Increase the size of the low address space to protect from user
# allocation
CONFIG_DEFAULT_MMAP_MIN_ADDR=65536
