# Compile the kernel with warnings as errors
CONFIG_WERROR=y

# Randomize slab caches for normal kmalloc
CONFIG_RANDOM_KMALLOC_CACHES=y

# Don't allow slab caches to be merged
# CONFIG_SLAB_MERGE_DEFAULT is not set

# Page allocator randomization
CONFIG_SHUFFLE_PAGE_ALLOCATOR=y

# Zero heap memory when allocated and freed
CONFIG_INIT_ON_ALLOC_DEFAULT_ON=y
CONFIG_INIT_ON_FREE_DEFAULT_ON=y

# Check integrity of linked list manipulation
CONFIG_LIST_HARDENED=y

# Trigger a BUG when data corruption is detected
CONFIG_BUG_ON_DATA_CORRUPTION=y

# Force all usermode helper calls through a single binary
CONFIG_STATIC_USERMODEHELPER=y

# Kernel lockdown
CONFIG_SECURITY_LOCKDOWN_LSM=y
CONFIG_SECURITY_LOCKDOWN_LSM_EARLY=y
CONFIG_LOCK_DOWN_KERNEL_FORCE_CONFIDENTIALITY=y

# Fully randomize layout of sensitive kernel structures
CONFIG_RANDSTRUCT_FULL=y

# Randomize kernel stack offset on syscall entry by default
CONFIG_RANDOMIZE_KSTACK_OFFSET_DEFAULT=y

# Check for invalid mappings in user page tables
CONFIG_PAGE_TABLE_CHECK=y
CONFIG_PAGE_TABLE_CHECK_ENFORCED=y

# This is the portion of low virtual memory which should be protected
# from userspace allocation.  Keeping a user from writing to low pages
# can help reduce the impact of kernel NULL pointer bugs. Use 32768 as
# default as it is the maximum recommended for certain architectures.
# Increase in arch specific configuration fragments if required.
CONFIG_DEFAULT_MMAP_MIN_ADDR=32768

# Enable sanity checks in virtual to page code. Described as debug VM
# translations and "costly" in the documentation.
CONFIG_DEBUG_VIRTUAL=y

# Enable register zeroing on function exit. Register contents are less
# likely to be available for exposures. Less than 1% performance impact,
# and about 1%-5% size increase
CONFIG_ZERO_CALL_USED_REGS=y

# Enable latent entropy generation during boot and runtime. Helps with
# devices that have little natural entropy sources. Causes some
# slowdown during boot process, 0.5%
CONFIG_GCC_PLUGIN_LATENT_ENTROPY=y

# Poison kernel stack before returning from syscalls. This blocks most
# uninitialized stack variable attacks, with the performance impact
# being driven by the depth of the stack usage.
CONFIG_GCC_PLUGIN_STACKLEAK=y

# Enable Clang's Control Flow Integrity. This restricts possible call
# targets and makes it more difficult for an attacker to exploit bugs
# that allow the modification of stored function pointers.
CONFIG_CFI_CLANG=y

# Clear Busmaster bit on PCI bridges during ExitBootServices(). The
# kernel documentation explains an attack that this configuration item
# prevents. However, this option will cause failures with some poorly
# behaving hardware, so disable the option if needed.
CONFIG_EFI_DISABLE_PCI_DMA=y

# Enables core scheduling for SMT. This mitigates some SMT side channels
# and limits SMT interference.
CONFIG_SCHED_CORE=y

# Wipe RAM at reboot via EFI. This is meant to prevent reading secrets
# from RAM after a forceful reboot. This wipe also happens on clean 
# reboots if userland does not clear MemoryOverwriteRequest flag after
# evicting secrets
CONFIG_RESET_ATTACK_MITIGATION=y

# Enable SHA512 hashing for module signatures
CONFIG_MODULE_SIG_SHA512=y

# Set the default IOMMU DMA to strict. Trusted devices use translation
# to restrict their access to only DMA-mapped pages, with strict TLB
# invalidation on unmap.
CONFIG_IOMMU_DEFAULT_DMA_STRICT=y

# Enable KFENCE, sampling-based memory safety error detector of heap
# out-of-bounds access, user-after-free, and invalid-free errors. It is
# designed to have neglible cost.
CONFIG_KFENCE=y

# This option enables the compiler's Shadow Call Stack, which uses a
# shadow stack to protect function return addresses from being
# overwritten by an attacker.
CONFIG_SHADOW_CALL_STACK=y

# This option makes the kernel erase the kernel stack before returning
# from system calls. This blocks most uninitialized stack variable
# attacks. Disable some of the additional features that increase attack
# surface and allow disabling the feature.
CONFIG_KSTACK_ERASE=y
# CONFIG_KSTACK_ERASE_METRICS is not set
# CONFIG_KSTACK_ERASE_RUNTIME_DISABLE is not set
