# Enable Yama support. Yama extends DAC support with additional
# security settings. Currently available is ptrace scope restriction.
CONFIG_SECURITY_YAMA=y

# Do not allow disabling SELinux with a boot parameter
# CONFIG_SECURITY_SELINUX_BOOTPARAM is not set

# Disable SELinux development mode
# CONFIG_SECURITY_SELINUX_DEVELOP is not set
