# Enable hardware tag-based KASAN. Relies on Memory Tagging Extension
# and Top Byte Ignore. Consumes about 1/32nd of available memory, so 
# not necessarily suitable for memory constrained devices.
CONFIG_KASAN=y
CONFIG_KASAN_HW_TAGS=y

# Increase the size of the low address space to protect from user
# allocation
CONFIG_DEFAULT_MMAP_MIN_ADDR=65536
