# Compile the kernel with warnings as errors
CONFIG_WERROR=y

# Randomize slab caches for normal kmalloc
CONFIG_RANDOM_KMALLOC_CACHES=y

# Don't allow slab caches to be merged
# CONFIG_SLAB_MERGE_DEFAULT is not set

# Page allocator randomization
CONFIG_SHUFFLE_PAGE_ALLOCATOR=y

# Zero heap memory when allocated and freed
CONFIG_INIT_ON_ALLOC_DEFAULT_ON=y
CONFIG_INIT_ON_FREE_DEFAULT_ON=y

# Check integrity of linked list manipulation
CONFIG_LIST_HARDENED=y

# Trigger a BUG when data corruption is detected
CONFIG_BUG_ON_DATA_CORRUPTION=y

# Force all usermode helper calls through a single binary
CONFIG_STATIC_USERMODEHELPER=y

# Kernel lockdown
CONFIG_SECURITY_LOCKDOWN_LSM=y
CONFIG_SECURITY_LOCKDOWN_LSM_EARLY=y
CONFIG_LOCK_DOWN_KERNEL_FORCE_CONFIDENTIALITY=y

# Fully randomize layout of sensitive kernel structures
CONFIG_RANDSTRUCT_FULL=y

# Randomize kernel stack offset on syscall entry by default
CONFIG_RANDOMIZE_KSTACK_OFFSET_DEFAULT=y

# Check for invalid mappings in user page tables
CONFIG_PAGE_TABLE_CHECK=y
CONFIG_PAGE_TABLE_CHECK_ENFORCED=y
