# Enable hardware tag-based KASAN. Relies on Memory Tagging Extension
# and Top Byte Ignore. Consumes about 1/32nd of available memory, so 
# not necessarily suitable for memory constrained devices.
CONFIG_KASAN=y
CONFIG_KASAN_HW_TAGS=y

# Increase the size of the low address space to protect from user
# allocation
CONFIG_DEFAULT_MMAP_MIN_ADDR=65536

# Support for implementations of the ARM System MMU architecture. Can
# be disabled if your SoC does not include an IOMMU device
# implementing the ARM SMMU architecture.
CONFIG_ARM_SMMU=y

# Disable bypass streams such that incoming transactions from devices
# that are not attached to an iommu domain will report an abort back
# to the device and will not be allowed to pass through the SMMU.
CONFIG_ARM_SMMU_DISABLE_BYPASS_BY_DEFAULT=y

# Support for ARM System MMU architecture version 3.
CONFIG_ARM_SMMU_V3=y

# Enabling this option prevents the kernel from accessing user-space
# memory directly by pointing TTBR0_EL1 to a reserved zeroed area and
# reserved ASID.
CONFIG_ARM64_SW_TTBR0_PAN=y
