# Disable support for frame buffer graphics device drivers
# CONFIG_FB is not set
# CONFIG_FB_MODE_HELPERS is not set
# CONFIG_FB_UVESA is not set
# CONFIG_FB_EFI is not set
# CONFIG_FB_NOTIFY is not set
# CONFIG_FB_SIMPLE is not set

# Disable virtual terminal
# CONFIG_VT is not set
# CONFIG_VGA_CONSOLE is not set
# CONFIG_FRAMEBUFFER_CONSOLE is not set
# CONFIG_VT_HW_CONSOLE_BINDING is not set
# CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY is not set
# CONFIG_FONT_8x8 is not set

# Disable direct rendering manager
# CONFIG_DRM is not set
# CONFIG_DRM_CIRRUS_QEMU is not set
# CONFIG_DRM_I915 is not set
# CONFIG_DRM_FBDEV_EMULATION is not set
# CONFIG_DRM_FBDEV_OVERALLOC is not set
# CONFIG_DRM_TTM is not set
# CONFIG_DRM_BOCHS is not set
# CONFIG_DRM_PANEL is not set
# CONFIG_DRM_BRIDGE is not set
# CONFIG_DRM_PANEL_BRIDGE is not set
# CONFIG_DRM_PANEL_ORIENTATION_QUIRKS is not set
# CONFIG_VIDEO_CMDLINE is not set
# CONFIG_FB_CFB_FILLRECT is not set
# CONFIG_FB_CFB_COPYAREA is not set
# CONFIG_FB_CFB_IMAGEBLIT is not set
# CONFIG_FB_SYS_FILLRECT is not set
# CONFIG_FB_SYS_COPYAREA is not set
# CONFIG_FB_SYS_IMAGEBLIT is not set
# CONFIG_FB_SYS_FOPS is not set
# CONFIG_FB_DEFERRED_IO is not set
# CONFIG_HDMI is not set
