# Disable support for frame buffer graphics device drivers
# CONFIG_FB is not set
# CONFIG_FB_MODE_HELPERS is not set
# CONFIG_FB_UVESA is not set
# CONFIG_FB_EFI is not set
# CONFIG_FB_NOTIFY is not set
# CONFIG_FB_SIMPLE is not set

# Disable virtual terminal
# CONFIG_VT is not set
# CONFIG_VGA_CONSOLE is not set
# CONFIG_FRAMEBUFFER_CONSOLE is not set
# CONFIG_VT_HW_CONSOLE_BINDING is not set
# CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY is not set
# CONFIG_FONT_8x8 is not set
