# Disable /dev/mem device to prevent memory access
# CONFIG_DEVMEM is not set

# Disable memory utilization monitoring /proc files
# CONFIG_PROC_PAGE_MONITOR is not set

# Disable debugfs
# CONFIG_DEBUG_FS is not set

# Reduce run-time tracing functionality
# CONFIG_FTRACE is not set
# CONFIG_KPROBE_EVENTS is not set
# CONFIG_UPROBE_EVENTS is not set
# CONFIG_FUNCTION_TRACER is not set

# Disable SCTP transport layer protocol
# CONFIG_IP_SCTP is not set

# Disable legacy TIOCSTI functionality
# CONFIG_LEGACY_TIOCSTI is not set

# Disable floppy disk support
# CONFIG_BLK_DEV_FD is not set

# Disable remote kgdb support
# CONFIG_KGDB is not set

# Disable TIPC cluster communication protocol
# CONFIG_TIPC is not set

# Disable DCCP Datagram Congestion Control Protocol
# CONFIG_IP_DCCP is not set

# Disable RDS The Reliable Datagram Sockets Protocol
# CONFIG_RDS is not set

# Disable /dev/port device (similar to /dev/mem but for IO)
# CONFIG_DEVPORT is not set

# Disable IO uring. This option enables applications to submit and
# complete IO through submission and completion rings shared between the
# kernel and the application
# CONFIG_IO_URING is not set

# Disable kcmp() system call. This system call can be used in the
# user-space to compare two processes if they share the same resource
# CONFIG_KCMP is not set

# Disable rseq() system call. This provides user space cache for the
# current CPU value.
# CONFIG_RSEQ is not set

# Disable cachestat() system call. This system call queries the page
# cache statistics of a file.
# CONFIG_CACHESTAT_SYSCALL is not set

# Prevents loading all symbols for debugging/ksymoops. Disabling this
# prevents kernel from printing symbolic crash information and symbolic
# stack backtraces
# CONFIG_KALLSYMS is not set

# Disable user namespaces. User namespaces allow containers to use
# namespaces to provide different user info for different servers.
# CONFIG_USER_NS is not set

# Don't allow upgrading ACPI tables via initrd
# CONFIG_ACPI_TABLE_UPGRADE is not set

# Don't allow loading of an ACPI SSDT overlay from an EFI variable
# specified by a kernel command line option
# CONFIG_EFI_CUSTOM_SSDT_OVERLAYS is not set

# Disable POSIX asynchronous I/O which may be used by some high
# performance threaded applications
# CONFIG_AIO is not set

# Disable magic SysRq key. This feature allows some control over the
# system after it crashes for debugging.
# CONFIG_MAGIC_SYSRQ is not set
# CONFIG_MAGIC_SYSRQ_SERIAL is not set

# Disable Kprobes. Kprobes allows you to trap at almost any kernel
# address and execute a callback function. Useful for debugging and
# testing.
# CONFIG_KPROBES is not set
