# UBSAN (undefined behavior sanitizer) configuration

# Enable UBSAN
CONFIG_UBSAN=y
# Perform array index bounds checking where the array size is known
# at compile time
CONFIG_UBSAN_BOUNDS=y
# Enables clang option which traps when  when an access through a
# pointer that is derived from an object of a statically-known size,
# where an added offset (which may not be known statically) is
# out-of-bounds.
CONFIG_UBSAN_LOCAL_BOUNDS=y
# Abort on sanitizer warnings. This converts the warnings into
# exceptions, which may destabilize the system. Makes kernel smaller,
# but the errors are less verbose and harder to debug.
CONFIG_UBSAN_TRAP=y
# Enable instrumentation for the entire kernel
CONFIG_UBSAN_SANITIZE_ALL=y
