# Disable support for 32-bit programs
# CONFIG_COMPAT is not set
# CONFIG_IA32_EMULATION is not set

# Remove access to CPUID instruction
# CONFIG_X86_CPUID is not set

# Remove access to model-specific registers
# CONFIG_X86_MSR is not set

# Remove legacy IOPERM and IOPL syscalls
# CONFIG_X86_IOPL_IOPERM is not set
